extends layout

block content
  div(ng-app="downloadApp")
    div(ng-controller="downloadController")
      h1 Enter codepen username to download all of their pens
      form(ng-submit="submitDownload()")
          input(type="text" placeholder="Username" ng-model="text" name="username" required)
          input(type="submit") 
