extends layout

block content
  div#penApp(ng-app="downloadApp")
    div#penController(ng-controller="downloadController")
      h1 DownPen
      h2 Codepen downloader/backup tool
      h3 Enter codepen username to download all of their pens
      div(id="downloadStatus" ng-style="statusColours.current")
        p {{ status }}
        .threedotloader(ng-style="loaderDisplay")
            .dot
            .dot
            .dot
      form(ng-submit="submitDownload()")
        input(type="text" id="usernameInput" placeholder="Username" ng-model="text" name="username" required)
        input(type="submit" id="usernameSubmit")
      p Developed by
        a(href="http://danielhearn.co.uk")  Daniel Hearn
        span , source on
        a(href="https://github.com/DanielHearn/codepen-downloader")  GitHub
