doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(rel='text/javascript', src='/javascripts/angular.min.js')
    script(rel='text/javascript', src='/javascripts/downloader.js')
  body
    block content
