doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Codepen Downloader
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(rel='text/javascript', src='/javascripts/angular.min.js')
    script(rel='text/javascript', src='/javascripts/downloader.js')

  body
    block content
