$colour-bg: #fff;
$colour-text: #555;
$colour-accent: #f35626;

$dotSize: 1.1em;
$animDelay: 0.3s;

html {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
  background: $colour-bg;
  color: $colour-text;
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
}

#penApp {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  #penController{
    padding: 1em;
    h1 {
      color: $colour-accent;
      font-weight: 300;
      font-size: 4em;
    }
    h2 {
      font-weight: 300;
      font-size: 1.6em;
    }
    h3 {
      font-weight: 300;
      font-size: 1.4em;
    }

    #downloadStatus {
      padding: 1em;
      margin-bottom: 1.5em;
      display: none;
      color: white;
      transition: background 0.5s;
      p {
        margin: 0;
      }
    }

    form {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      input {
        font-weight: 300;
        padding: 0.8em 1.2em;
        font-size: 1em;
        border-radius: 0.2em;
      }
      #usernameInput {
        margin-right: 1em;
        color: $colour-text;
        border: 1px solid $colour-text;
      }

      #usernameSubmit {
        border: 2px solid $colour-accent;
        background: white;
        transition: 0.3s;
        color: $colour-accent;
        cursor: pointer;
        font-weight: bold;
        letter-spacing: 1px;
        &:hover {
          background: $colour-accent;
          color: white;
        }
      }
    }


    p {
      font-size: 1.1em;
    }

    a {
      font-weight: bold;
      text-decoration: none;
      color: $colour-accent;
      &:visited {
        text-decoration: none;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.threedotloader {
  margin: 0 auto;
  width: $dotSize*4;
  margin-top: 1em;
  margin-bottom: 1em;
  .dot {
    width: $dotSize;
    height: $dotSize;
    border-radius: $dotSize;
    background-color: white;
    margin: $dotSize/6;
    transform: scale(0);
    display: inline-block;
    animation: dotanim 2s infinite ease-in-out;
    @for $i from 0 to 4 {
      &:nth-child(#{$i+1}) {
        animation-delay: $animDelay*$i;
      }
    }
  }
}

@keyframes dotanim {
  0% { transform: scale(0); }
  50% { transform: scale(1); }
  90% { transform: scale(0); }
  100% { transform: scale(0); }
}

@media screen and (max-width: 32em) {
  html body main #penApp #penController {
    h1 {
      font-size: 2.5em;
    }
    h2 {
      font-size: 1.2em;
    }
    h3 {
      font-size: 1.1em;
    }
    p {
      font-size: 1em;
    }
  }
}

@media screen and (max-width: 24em) {
  html body main #penApp #penController {
    #usernameInput {
      margin-bottom: 0.75em;
    }
  }
}
